  <div class="row">
      <h3>Week 3</h3>
      <p>There are two labs, one on the object constructor and new key word</p>
      <p>in the lecture we learned about testing software, jira bugzilla etc...</p>
  </div>

  <div class="row">
    <h3>Result</h3>
    <h4>Second Objects Lab - Object Constructor, single object</h4>
    </a>
    </h5>
    <iframe style="width:100%; height:100%;margin:0px;border:1px solid #8d1236;" src="assets/labs/week3/w3l4/one-object/object-constructor.html"></iframe>
  </div>
            

   <div class="row">
      <h3>Code</h3>
      <h4>object-constructor.js</h4>
      <div>
      <pre>

        var hotel = new Object();
          hotel.name = 'Quay';
          hotel.rooms = 40;
          hotel.booked = 25;
          hotel.checkAvailabity = function(){
            return this.rooms - this.booked;
          };

        var hotelName = document.getElementById("hotelName");
        hotelName.textContent = hotel.name;

        var rooms = document.getElementById("rooms");
        rooms.textContent = hotel.checkAvailabity();

      </pre>  
    </div>


     <div class="row">
    <h3>Result</h3>
    <h4>Object Constructor, multiple objects</h4>
    </a>
    </h5>
    <iframe style="width:100%; height:100%;margin:0px;border:1px solid #8d1236;" src="assets/labs/week3/w3l4/multiple-objects/multiple-objects.html"></iframe>
  </div>

  <div class="row">
      <h3>Code</h3>
      <h4>multiple-objects.js</h4>
      <div>
      <pre>

function Hotel(name, rooms, booked){
  this.name = name;
  this.rooms = rooms;
  this.booked = booked;
  this.checkAvailability = function(){
    return this.rooms - this.booked;
  };
}


var quayHotel = new Hotel('Quay', 40,25);
var parkHotel = new Hotel('Park', 120, 77);

var hotel1 = document.getElementById("hotel1");
hotel1.textContent = quayHotel.name + " " + quayHotel.checkAvailability();

var hotel2 = document.getElementById("hotel2");
hotel2.textContent = parkHotel.name + " " + parkHotel.checkAvailability();



      </pre>  
    </div>

